!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    -# Always force latest IE rendering engine (even in intranet) & Chrome Frame. Remove this if you use the .htaccess
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    
    %title= @title || "Fortunately Sweet"
    %meta{:name => "description", :content => "" }
    %meta{:name => "keywords",    :content => "Richmond Hill, Markham, Thornhill, Cupcakes" }
    %meta{:name => "author",      :content => "Nikki" }
    
    -# Mobile Viewport Fix
    -# j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
    -# device-width : Occupy full width of the screen in its current orientation
    -# initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
    -# maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;" }
    
    -# Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
    %link{ :rel => "shortcut icon", :href => "/favicon.png" }
    %link{ :rel => "apple-touch-icon", :href => "favicon.png"} 
    -#"/apple-touch-icon.png" }
    
    -# CSS : implied media="all"
    %link{:rel => "stylesheet", :href => "/css/global.css", :type => "text/css"}
    
    -# No longer needed, included in main stylesheet with a media query
    -# For the less-enabled mobile browsers like Opera Mini
    -# %link{ :rel => "stylesheet", :media => "handheld", :href => "/css/handheld.css" }
    
    -# All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
    %script{ :src => "/js/modernizr-1.5.min.js" }
    
    
    
  %body
    .centerbox.container_12
      .header
        .logo= img("FSFlower.png")
        .top_nav_wrapper
          .container_12.bold
            .grid_2
              &nbsp;
            .grid_3{:style=>"text-align:right"}
              = link_to_unless_current("Home", "/")
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to_unless_current("About Us", "/about")
              &nbsp;&nbsp;
              
            .grid_2
              &nbsp;
            .grid_3{:style=>"text-align:left"}
              &nbsp;&nbsp;
              = link_to_unless_current("Gallery", "/gallery")
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to_unless_current("Contact Us", "/contact")
            .clear
      
      %br
      %br
      
      = yield
    
    
    
    
    
    
    
    
    
    = partial 'layouts/footer'
    