!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title start
    %link{:rel => 'stylesheet', :href => "/css/reset.css"}
    %link{:rel => 'stylesheet', :href => "/css/960.css"}
    %link{:rel => 'stylesheet', :href => "/css/text.css"}
    %link{:rel => 'stylesheet', :href => "/style.css"}
    %link{:rel => 'shortcut icon', :href => "/images/favicon.png"}
    
    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/global.js"}
    
    / MIXPANEL TRACKING
    :plain
      <script type='text/javascript'> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('f614cf4662269fb1840a1fd0efea65ce'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
    
    / GOOGLE ANALYTICS TRACTING
    :plain
      <script type="text/javascript">
        
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11964422-1']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        
      </script>
    
  %body
    .centerbox.container_12
      .header
        .logo= img("FSFlower.png")
        .top_nav_wrapper
          .container_12.bold
            .grid_2
              &nbsp;
            .grid_3{:style=>"text-align:right"}
              = link_to_unless_current("Home", "/")
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to_unless_current("About Us", "/about")
              &nbsp;&nbsp;
              
            .grid_2
              &nbsp;
            .grid_3{:style=>"text-align:left"}
              &nbsp;&nbsp;
              = link_to_unless_current("Gallery", "/gallery")
              &nbsp;&nbsp;|&nbsp;&nbsp;
              = link_to_unless_current("Contact Us", "/contact")
            .clear
      
      %br
      %br
      %br
      
      = yield
    
    
    
    
    
    
    
    
    
    
    %footer
      .container_12
        %span
          Richmond Hill, Ontario Canada
          &nbsp;&nbsp;|&nbsp;&nbsp;
          = link_to "fortunatelysweet@gmail.com", "mailto:info@thecupcakeshopperaleigh.com"
          &nbsp;&nbsp;|&nbsp;&nbsp;
        %span{:style=>"top:40px;position:relative;"}
          :plain
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FFortunately-Sweet%2F131772926834814&amp;width=200&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=true&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:62px;" allowTransparency="true"></iframe>
      
      .mixpanel_badge.center.hidden
        :plain
          <a href="http://mixpanel.com/?from=partner"> <img src="http://mixpanel.com/site_media/images/mixpanel_partner_logo.gif" alt="Mobile Analytics by Mixpanel" /> </a>

