.container_12{:style=>"height:350px"}
  .grid_6{:style=>"height:350px"}
    
    #rotate
      = photo("sugar.jpg")
      = photo("cupcakeliner.jpg")
      
      
  .grid_6
    .right_text
      %p
        = img("flowersbrown.png")
        .clear
        Here at Fortunately Sweet, we believe in small batch baking and
        providing top quality cupcakes. Our homemade cupcakes are beautifully
        designed and oh so tasty, a delight for both the young and young at
        heart.
      %br
      
      / %p
      /   For your next birthday, dinner party, wedding or shower, we welcome
      /   the opportunity to cater your event and add that special touch.
      / %br
      
      %p
        Costs range from $1.50 to $2.50 per cupcake, dependent upon the detail
        of design. For special orders, we will work with you to create what
        you are looking for at just the right cost.
      %br
      
      %p
        We feature the following flavours:
      
      %div{:style=>"margin-top:14px;margin-left:46px"}
        .left= img("vb.png")
        .left= img("hc.png")
        /.left= img("sl.png")
        .left= img("ll.png")
        .left= img("rv.png")
