.container_12{:style=>"height:350px"}
  .grid_6{:style=>"height:350px"}
    
    #rotate
      = photo("vanilla.png")
      
      
  .grid_6
    .right_text
      %p
        = img("flowersbrown.png")
        .clear
        
      %p
        .left= img("facebook_32.png")
        %span.grid_2{:style=>"margin-top:10px;margin-left:4px"}= link_to 'Join us on facebook', "http://www.facebook.com/pages/Fortunately-Sweet/131772926834814"
        .clear
      
      %p
        .left= img("twitter_32.png")
        %span.grid_2{:style=>"margin-top:10px;margin-left:4px"}= link_to 'Join us on twitter', "/"
        .clear
        
