.container_12{:style=>"height:350px"}
  .grid_6.left_text{:style=>"height:350px"}
    
    / #rotate
    /   = photo("a.png")
    /   = photo("diffcolours.png")
    /   = photo("vanilla.png")
      
    %div{:style=>"height:10px"}
    %p
      = img("flowersbrown.png")
      .clear
      
    = partial 'feedback_form'
      
  .grid_6
    .right_text
      / %p
      /   = img("flowersbrown.png")
      /   .clear
      %div{:style=>"height:39px"}
      
      %p
        Fortunately Sweet is currently an online shop without a store front location at this time.
        Feel free to contact us in one of the ways below. We look forward to hearing from you!
        
      %p{:style=>"margin-top:8px"}
        .left{:style=>"margin-left:2px"}= img("email.png")
        %span.grid_2{:style=>"margin-top:10px;margin-left:6px"} Fortunatelysweet@gmail.com
        .clear
        
        
      %p
        .left= img("facebook_32.png")
        %span.grid_2{:style=>"margin-top:10px;margin-left:4px"}= link_to 'Join us on facebook', "http://www.facebook.com/Fortunately-Sweet"
        .clear
      
      %p
        .left= img("twitter_32.png")
        %span.grid_4{:style=>"margin-top:10px;margin-left:4px"}= link_to 'Follow us on twitter @Fortunatelyswt', "http://twitter.com/#!/fortunatelyswt"
        .clear
      
