.container_12{:style=>"height:350px"}
  .grid_6{:style=>"height:350px"}
    
    #rotate
      = photo("ladybug.png")
      = photo("a.png")
      = photo("diffcolours.png")
      = photo("vanilla.png")
      
      
  .grid_6
    .right_text
      %p
        = img("flowersbrown.png")
        .clear
      
      %p
        Fortunately Sweet is currently an online shop without a store front location at this time.
      %br
      
      %p
        Feel free to contact us in one of the ways below. We look forward to hearing from you!
      %br
        
      %p
        .left{:style=>"margin-left:2px"}= img("email.png")
        %span.grid_2{:style=>"margin-top:10px;margin-left:6px"} Fortunatelysweet@gmail.com
        .clear
        
        
      %p
        .left= img("facebook_32.png")
        %span.grid_2{:style=>"margin-top:10px;margin-left:4px"}= link_to 'Join us on facebook', "http://www.facebook.com/pages/Fortunately-Sweet/131772926834814"
        .clear
      
      %p
        .left= img("twitter_32.png")
        %span.grid_4{:style=>"margin-top:10px;margin-left:4px"}= link_to 'Follow us on twitter @Fortunatelyswt', "http://twitter.com/#!/fortunatelyswt"
        .clear
        
