.container_12{:style=>"height:350px"}
  .grid_6{:style=>"height:350px"}
    
    #rotate
      = photo("flowers.jpg")
      = photo("valentine.jpg")
      = photo("diffcolours.png")
      = photo("michelle.jpg")
      
  .grid_6{:style=>"padding-top:15px"}
    
    #rotate2
      .small_outer= small_photo("ladybug.png")
      .small_outer= small_photo("flowers.jpg")
      .small_outer= small_photo("pinkcupcake.jpg")
      .small_outer= small_photo("balls.jpg")
      
      .small_outer= small_photo("redchoc.png")
      .small_outer= small_photo("xmas7.png")
      .small_outer= small_photo("diffcolours.png")
      .small_outer= small_photo("xmas6.png")
      
      .small_outer= small_photo("spaghetti.jpg")
      .small_outer= small_photo("bears.png")
      .small_outer= small_photo("vday.png")
      .small_outer= small_photo("a.png")
      
