.container_12{:style=>"height:350px"}
  .grid_6{:style=>"height:350px"}
    
    -# images are in reverse order... as governed by the rules of css
    #rotate 
      =# photo("valentine.jpg")
      = photo("monogram.jpg")
      = photo("flowerslots.jpg")
      = photo("whiteflower.jpg")
      
      
  .grid_6
    .right_text
      %p
        = img("flowersbrown.png")
        .clear
        Welcome to Fortunately Sweet. Keep us in mind for your special
        occasions. Our cupcakes are perfect treats for your friends and
        family.
        Whether it's for your holiday gifts or that special someone,
        Fortunately Sweet will satisfy your every need.
      
      %p.center
        %span.contest= img("namecupcake.png")
